* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Whitney', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* regole header */

header {
    background-color: orange;
    position: fixed;
    width: 100%;
    z-index: 900;
    /* DEBUG */
    height: 100px;
}

/* regole main */

main{
    padding-top: 200px;
}

/* regole product list */

.product-list {
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* regole blocco prodotto */

.product {
    width: 20%;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
    /* DEBUG */
    /* height: 100px;
    border: solid 1px #000; */
}

.product img {
    max-width: 100%;
}


/* regole label discount e eco */

.discount-label {
    padding: 5px 10px;
    background-color: red;
    color: white;
    font-size: 15px;
    position: absolute;
    left: 0;
    bottom: 100px;
    z-index: 20;
}

.eco-label {
    padding: 5px 10px;
    background-color: green;
    color: white;
    font-size: 15px;
    position:absolute;
    bottom: 100px;
    left: 60px;
    z-index: 20;
}

.liked {
    padding: 0 10px;
    background-color: white;
    font-size: 35px;
    position: absolute;
    right: 0;
    top: 5px;
    z-index: 20;
}

.last-img {
    bottom: 100px;
    left: 0;
}

/* regole brand e prezzo */

.info-product {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.brand {
    font-size: 15px;
}

.product-name {
    font-weight: 600;
}

/* regole prezzi */

.price {
    font-size: 15px;
}

.red-price {
    color: red;
    font-weight: 600;
}

.original-price {
    text-decoration: line-through;

}

/* regole hover img */

.second-img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    z-index: 10;
}

.product:hover .second-img {
    display: block;
}


/* regole footer */

footer {
    background-color: black;
    width: 100%;
    /* DEBUG */
    height: 150px;

}